@import '../../styles/base.sass'

.landing__wrapper
  +flex($justify: center, $align: center)
  background-color: lavender
  min-height: 100vh

.landing__intro__wrapper
  +flex($direction: column, $align: center)

.landing__intro__name
  background-color: pink
  font-size: 3em
  font-weight: 800